# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env*.local

# Editor / System files
.DS_Store
.vscode/
*.log

# Ignore all dot folders (Hidden folders)
.*/

# Un-ignore specific hidden files/folders if needed
!/.gitignore
!/.dockerignore
